* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body {
   background-color: #1b1b1b;
}

.navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #032541;
   padding: 10px;
   color: rgb(255, 255, 255);
}

.movie {
   width: 200px;
}

.title {
   display: flex;
}

.navbar .title .text {
   font-size: 40px;
}

.link {
   color: white;
   font-family: 'Fira Code', monospace;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nowplaying {
   padding: 20px 0px 0px 0px;
}

.nowplaying .nowplayingmovies {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 15px;
   width: 98%;
   margin: auto;
}

.nowplaying .nowplayingmovies img {
   width: 200px;
   display: block;
   margin: auto;
   border-radius: 5px;
}

p {
   text-align: center;
   color: whitesmoke;
   font-weight: 500;
   padding: 5px;
}

form {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

input {
   outline: none;
   padding: 7px 10px;
   border-radius: 5px;
   border: none;
}

form img {
   width: 20px;
}

button {
   border-radius: 3px;
   outline: none;
   border: none;
   padding: 3px;
   margin-left: 3px;
   cursor: pointer;
}

.links {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.burger {
   display: flex;
   flex-direction: column;
   height: 15px;
   justify-content: space-around;
   border-radius: 3px;
   align-items: center;
   cursor: pointer;
   display: none;
}

.line {
   width: 20px;
   height: 1px;
   background-color: white;
}

.movie {
   width: 100%;
   display: flex;
}

.movie img {
   width: 400px;
}

.details {
   /* background-color: #d8d8d8; */
}

.details div {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px;
}

.prop {
   width: 30%;
   text-align: center;
   font-size: 18px;
   color: rgb(0, 4, 255);
}

.value {
   width: 70%;
   color: whitesmoke;
}

button {
   padding: 5px 10px;
   border-radius: 5px;
   outline: none;
   border: none;
}

.searchBox {
   width: 250px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.searchBox img {
   width: 20px;
}

input[type="search"] {
   border-radius: 3px;
   background-color: #1b1b1b;
   color: whitesmoke;
   font-family: 'Fira Code', monospace
}

.loading {
   font-size: 32px;
   color: whitesmoke;
   text-align: center;
   line-height: 150px;
}


@media screen and (max-width:700px) {
   body {
      width: 100%;
      overflow-x: hidden;
   }

   .show {
      transform: translateX(100%);
      display: none;
   }

   .cross .line1 {
      transform: rotate(45deg) translateX(7px);
   }

   .cross .line2 {
      opacity: 0;
   }

   .cross .line3 {
      transform: rotate(-45deg) translate(7px);
   }

   .links {
      position: absolute;
      height: 200px;
      flex-direction: column;
      top: 68px;
      background-color: #032541;
   }

   .burger {
      display: flex;
   }


}

@media screen and (max-width:850px) {
   .movie {
      flex-direction: column;
   }

   .movie img {
      width: 100%;
   }
}